<footer class="footer-custom">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <h5>Contatti</h5>
        <p>Email</p>
        <p>Telefono: +39 012 345 6789</p>
      </div>
      <div class="col-md-4">
        <h5>Seguici</h5>
        <a href="#">Facebook</a> | <a href="#">Twitter</a> |
        <a href="#">Instagram</a>
      </div>
      <div class="col-md-4">
        <h5>Indirizzo</h5>
        <p>Via delle Auto, 123</p>
        <p>00100 Roma, Italia</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <p>&copy; 2024 AutoSito. Tutti i diritti riservati.</p>
      </div>
    </div>
  </div>
</footer>
