<h3 class="text-center">LE NOSTRE FORD</h3>
<div class="row">
  <!-- Colonna sinistra con loghi -->
  <div class="col-md-2 d-md-flex d-none flex-column">
    <div *ngFor="let car of getFordCars().slice(0, 3)" class="mt-5 mb-3">
      <img [src]="car.brandLogo" width="100%" height="100%" [alt]="car.brand" />
    </div>
  </div>
  <!-- Colonna centrale con le carte -->
  <div class="col-md-8">
    <div class="col cards">
      <div class="row justify-content-center">
        <div
          class="col-12 col-md-6 col-lg-4 card m-4"
          *ngFor="let car of getFordCars()"
          [ngClass]="{
            'border-3 border-primary bg-success': car.available,
            'border-2 border-danger bg-secondary': !car.available
          }"
        >
          <img
            [src]="car.modelImage"
            class="card-img-top"
            height="300px"
            [alt]="car.model"
          />
          <div class="card-body">
            <h5 class="card-title">{{ car.brand }}</h5>
            <p class="card-text">Modello : {{ car.model }}</p>
            <p class="card-text">prezzo : {{ car.price }}</p>
            <p class="card-text">disponibile: {{ car.available }}</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Colonna destra con loghi -->
  <div class="col-md-2 d-md-flex d-none flex-column">
    <div *ngFor="let car of getFordCars().slice(0, 3)" class="mt-5 mb-3">
      <img [src]="car.brandLogo" width="100%" height="100%" [alt]="car.brand" />
    </div>
  </div>
</div>
