<h3 class="text-center">LE NOSTRE FIAT</h3>

<div class="col cards">
  <div class="row justify-content-center">
    <div
      class="col-12 col-md-6 col-lg-4 card m-4"
      *ngFor="let car of getFiatCars()"
      [ngClass]="{
        'border-3 border-success': car.available,
        'border-2 border-danger': !car.available
      }"
    >
      <img
        [src]="car.modelImage"
        class="card-img-top"
        height="300px"
        [alt]="car.model"
      />
      <div class="card-body">
        <h5 class="card-title">{{ car.brand }}</h5>
        <p class="card-text">{{ car.model }}</p>
        <p class="card-text">disponibile: {{ car.available }}</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
